@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,700,900|Dancing+Script:100,300,400,500,700');

/* -------------------------------------------------------Colors */

footer {
    background-color: #009999;
}

header {
    background-color: #009999;
}

.mid-contact-section {
    background-color: #009999;
}

.right-side,
.left-side {
    background-color: #009999;
    opacity: 0.6;
}

/* -------------------------------------------------------Margins, paddings, etc */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body {
    margin: 0;
    padding: 0;
}

.logo-section {
    padding-top: 20px;
}

.nav-section {
    padding-top: 35px;
    margin: 0;
}

#footer {
    bottom: 0;
    width: 100%;
}

.social-networks {
    margin: auto;
}

.right-side,
.left-side {
    margin: 25px 10px;
    padding: 10px;
    max-height: 300px;
    width: 50%;
    clear: both;
}

.container {
    margin-top: 85px;
}

#advice {
    margin-top: 175px;
}


/* -------------------------------------------------------Hoovers*/

.signature:hover {
    color: #f4f4f4;
}

.no-underline:hover {
    text-decoration: none;
}

.our-name:hover {
    color: #000;
}

.logo:hover {
    border: 5px solid #000;
}

.nav-links li a:hover {
    color: #000;
}

.document:hover {
    color: #000;
}

.right-side:hover,
.left-side:hover {
    opacity: 1;
}

/* -------------------------------------------------------Heading */

.heading{
    overflow: hidden;
}

.logo {
    background-color: #4e4e4e;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    float: left;
}

.our-name {
    color: #fff;
    font-family: "Dancing Script", sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1.3px;
    margin-top: 65px;
}

.nav-links {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    float: right;
    margin-right: 40px;
    margin-top: 195px;
    background-color: #4e4e4e;
}

.nav-links li a {
    color: #f4f4f4;
    padding: 10px;
}

/* -------------------------------------------------------Footer */

.social-networks li a i {
    color: #000;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    float: right;
}

.cta {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #000;
    letter-spacing: 3px;
    text-align: center;
    padding: 35px;
    margin: auto;
}

.signature {
    font-family: "Dancing Script", sans-serif;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 35px;
    color: #000;
    margin: auto;
}

/* -------------------------------------------------------Index-page */

#glacier-section {
    background: url("../images/glacier.jpg");
    width: 100%;
    height: 900px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.who-what-how {
    font-family: "Dancing Script",sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #f4f4f4;
}

.presentation {
    font-family: "Barlow Condensed",sans-serif;
    font-size: 15px;
    text-align: left;
    letter-spacing: 1.5px;
    color: #000;
    word-wrap: normal;
}

.right-side {
    float: right;
    max-height: 230px;
    overflow: scroll;
}
.left-side {
    float: left;
    max-height: 230px;
    overflow: scroll;
}

/* -------------------------------------------------------Our-Advice-page */

#clouds-section {
    background: url("../images/clouds.jpg");
    width: 100%;
    height: 900px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#advice-div1,
#advice-div2 {
    max-height: 280px;
}

.document {
    font-size: 20px;
    color: #f4f4f4;
    text-align: center;
    padding-left: 10px;
}
/* -------------------------------------------------------Contact-page */

.welcome {
    width: 100%;
    min-height: 250px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.welcome h3 {
    width: 100%;
    height: 250px;
    margin: 0;
    padding-top: 60px;
    text-align: center;
}

.welcome h3 span {
    color: #f4f4f4;
    font-family: "Dancing Script", sans-serif;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 1.5px;
    text-align: center;
    margin: auto;
}

/* .center-form and button are both highly inspired from the project made at the end of the course 
User Centric Frontend Development (the values differ but the structure is nearly identical) */

.center-form {
    padding-top: 55px;
    margin: 0 auto;
    max-width: 70%;
    min-height: 350px;
    font-family: "Barlow Condensed", sans-serif;
}

button[type="submit"] {
    margin-top: 25px;
    margin-bottom: 20px;
    color: #f4f4f4;
    background-color: #4e4e4e;
    font-family: "Dancing Script", sans-serif;
}
